.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  padding: 20px;
  text-align: center;
}

.full-width {
  grid-column-start: 1;
  grid-column-end: 12;
}

.left-third {
  grid-column-start: 1;
  grid-column-end: 4;
}

.center-third {
  grid-column-start: 5;
  grid-column-end: 8;
}

.right-third {
  grid-column-start: 9;
  grid-column-end: 12;
}

body {
  background-color: black;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(0deg,
        rgba(black, 0.15),
        rgba(black, 0.15) 1px,
        transparent 1px,
        transparent 2px);
    pointer-events: none;
  }
}

::selection {
  background: #0080FF;
  text-shadow: none;
}

pre {
  margin: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: limegreen;
}

a:hover {
  text-decoration: none;
  color: gainsboro;
}

.list-unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

img {
  border-radius: 50%;
}